body, html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Courier New', Courier, monospace;
  background-color: black;
  color: #006400; /* Darker green shade */
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  text-align: center;
  padding: 20px; /* Add padding for smaller screens */
}

button {
  margin: 10px;
  padding: 10px 20px;
  background-color: darkgreen;
  color: black;
  border: none;
  cursor: pointer;
  font-weight: bold;
  width: 80%; /* Make buttons wider */
  max-width: 300px; /* Limit max width */
}

.hidden {
  display: none;
}

#title, #weights-title, #exercise-title {
  border-right: 0.15em solid #006400; /* Darker green shade */
  padding: 0 20px;
  white-space: nowrap; /* Prevent text from wrapping */
}

#back-button, #back-to-weights-button, #back-from-view-all-button {
  margin-top: 20px; /* Additional space for back buttons */
  background-color: transparent;
  color: #006400; /* Darker green shade */
  border: none;
  cursor: pointer;
  text-decoration: underline;
  font-weight: bold;
  display: inline-block;
}

/* Responsive styles */
@media (max-width: 600px) {
  body, html {
    flex-direction: column;
    align-items: stretch;
    padding: 10px;
  }

  .page {
    padding: 10px;
  }

  button {
    width: 100%;
    padding: 15px;
  }

  #title, #weights-title, #exercise-title {
    font-size: 1.5em;
  }
}
